.vscode
__pycache__
**/node_modules/
dist
README.md
Dockerfile

.git
.gitignore
npm-debug.log
.coverage
.coverage.*
.env
.env.*
.aws

*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

postgres_data_dev
postgres_data
